@import '../../styles/mixins.scss';
.about{
    background: #000;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
    &2{
        @include res('padding-top', 100px);
        @include media(576){
            @include resa('padding-top', 70px);
        }
        .body{
            flex-direction: row-reverse;
        }
        .content{
            align-items: flex-end;
            @include media(576){
                align-items: center;
            }
        }
        .p{
            text-align: right;
            @include media(576){
                text-align: center;
            }
        }
    }
}
.body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    justify-content: center;
    isolation: isolate;
}
.img{
    @include res('width', 608px);
    @include res('min-width', 608px);
    @include res('height', 439px);
    line-height: 0;
    @include media(576){
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        z-index: -1;
        @include resa('width', 358.72px);
        @include resa('height', 259.01px);
        pointer-events: none;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        line-height: 0;
    }
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media(576){
        align-items: center;
    }
}
.title{
    color: #009FEF;
    text-align: center;
    @include res('font-size', 64px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    @include res('margin-bottom', 15px);
    @include media(576){
        @include resa('font-size', 40px);
        text-align: center;
        @include resa('margin-bottom', 15px);
    }
}
.p{
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    @include res('font-size', 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 203.571%;
    @include res('margin-bottom', 33px);
    @include media(576){
        text-align: center;
        @include resa('font-size', 14px);
        @include resa('margin-bottom', 20px);
    }
}