@import '../../styles/mixins.scss';
.intro{
    background: url('../../../public/intro.png') center bottom / cover no-repeat;
    @include res('margin-top', -120px);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include res('max-height', 861px);
    @include media(576){
        @include resa('margin-top', -80px);
        @include resa('max-height', 861px);
        @include resa('max-height', 915px);
    }
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: #FFF;
    text-align: center;
    @include res('font-size', 96px);
    font-style: normal;
    font-weight: 400;
    line-height: 96.4%;
    @include res('margin-bottom', 5px);
    @include media(576){
        @include resa('font-size', 40px);
        @include resa('margin-bottom', 10px);
    }
}
.p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Montserrat;
    @include res('font-size', 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 182.143%;
    @include res('max-width', 819px);
    @include res('margin-bottom', 35px);
    @include media(576){
        @include resa('font-size', 12px);
        @include resa('margin-bottom', 35px);
        max-width: 100%;
    }
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    @include res('gap', 20px);
    @include media(576){
        @include resa('gap', 15px);
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
}
.btn{
    @include res('padding-top', 16px);
    @include res('padding-bottom', 16px);
    @include res('padding-left', 28px);
    @include res('padding-right', 28px);
    @include res('height', 64px);
    @include media(576){
        @include resa('padding-top', 14px);
        @include resa('padding-bottom', 10px);
        @include resa('padding-left', 28px);
        @include resa('padding-right', 28px);
        @include resa('height', 40px);
        width: auto;
    }
    &2{
        @include res('height', 64px);
        @include media(576){
            @include resa('height', 40px);
            width: auto;
        }
    }
}